body {
    overflow: hidden
}

.background-box {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}

ul {
    list-style: none;
    padding-left: 4.5rem;
    padding-top: 1rem;
    font-weight: 500;
}

a:link {
    color: #00AEEF;
    text-decoration: none;
  }

a:visited {
    color: #00AEEF;
    text-decoration: none;
  }
  
a:hover {
    color: rgb(213,63,119);
    text-decoration: none;
  }

a:active {
    color: rgb(217,1,122);
    text-decoration: none;
  }  

.subtitle {
    color: black;
    padding-top: 1rem;
    padding-left: 3rem;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.square-1 {
    display: flex;
    border: .25pt solid rgb(174, 174, 174);
    width: 71.428571vw;
    height: 71.428571vh;
    margin:auto
    
}

.square-2 {
    display: flex;
    border: .25pt solid rgb(174, 174, 174);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    
}

.square-3 {
    display: flex;
    background-color: black;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    
}

.square-4 {
    display: flex;
    border: 0.25pt solid black;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
    
}

.square-5 {
    display: flex;
    background-color: rgb(0,0,0);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    
}

.square-6 {
    display: flex;
    background-color: rgb(255,255,255);
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    
}

/* 2 LINE INTERACTION */

.sq-2-lineInt {
    display: flex;
    justify-content: space-between;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.lines {
    display: flex;
    justify-content: space-between;
    /* background-color: black */
    border: solid black 5px;
}

