body {
    overflow: hidden
}

.background-box {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}

ul {
    list-style: none;
    padding-left: 4.5rem;
    padding-top: 1rem;
    font-weight: 500;
}

a:link {
    color: #00AEEF;
    text-decoration: none;
  }

a:visited {
    color: #00AEEF;
    text-decoration: none;
  }
  
a:hover {
    color: rgb(213,63,119);
    text-decoration: none;
  }

a:active {
    color: rgb(217,1,122);
    text-decoration: none;
  }  

.subtitle {
    color: black;
    padding-top: 1rem;
    padding-left: 3rem;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.square-1 {
    display: flex;
    border: .25pt solid rgb(174, 174, 174);
    width: 71.428571vw;
    height: 71.428571vh;
    margin:auto
    
}

.square-2 {
    display: flex;
    border: .25pt solid rgb(174, 174, 174);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    
}

.square-3 {
    display: flex;
    background-color: black;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    
}

.square-4 {
    display: flex;
    border: 0.25pt solid black;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
    
}

.square-5 {
    display: flex;
    background-color: rgb(0,0,0);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    
}

.square-6 {
    display: flex;
    background-color: rgb(255,255,255);
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    
}

/* 2 LINE INTERACTION */

.sq-2-lineInt {
    display: flex;
    justify-content: space-between;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.line-left {
    display: flex;
    background-color: #000;
    width: 1.50965797vw;
    height: 42.857143vh;
    margin: auto;
    margin-left: 0;
}

.lines {
    display: flex;
    background-color: #000;
    width: 1.50965797vw;
    height: 42.857143vh;
    margin: auto;
}

.line-right {
    display: flex;
    background-color: #000;
    width: 1.50965797vw;
    height: 42.857143vh;
    margin: auto;
    margin-right: 0;
}

.subtraction-square {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -28.17384281vh;
}

.white-one-left {
    display: flex;
    transform: rotate(-345.605deg);
    background-color: #fff;
    width: 1.50965797vw;
    height: 17vh;
    margin: auto;
    margin-left: 0.5vh;
    margin-top: -1vh;
}

.white-one {
    display: flex;
    transform: rotate(-345.605deg);
    background-color: #fff;
    width: 1.50965797vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.white-one-right {
    display: flex;
    transform: rotate(-345.605deg);
    background-color: #fff;
    width: 1.50965797vw;
    height: 17vh;
    margin: auto;
    margin-right: 0.6vh;
    margin-top: -1vh;
}

.outside-square {
    display: flex;
    background-color: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    border-color: #777;
    border-style: solid;
    border-width: .25px;
    margin: auto;
}

.inside-square {
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.first-line {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.first-line2 {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -57.125vh;
}

.line-left2 {
    display: flex;
    background-color: rgb(0, 0, 0);
    transform: rotate(-15deg);
    width: 1.50965797vw;
    height: 65vh;
    margin: auto;
    margin-left: 0;
    transform-origin: 0% 0%;
    margin-left: -8vh;
}

.line2 {
    display: flex;
    background-color: rgb(0, 0, 0);
    transform: rotate(-15deg);
    width: 1.50965797vw;
    height: 65vh;
    margin: auto;
    transform-origin: 0% 0%;
}

.line-right2 {
    display: flex;
    background-color: rgb(0, 0, 0);
    transform: rotate(-15deg);
    width: 1.50965797vw;
    height: 65vh;
    margin: auto;
    margin-right: 0;
    transform-origin: 0% 0%;
}

.addition-square {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -85.2vh;
}

.white-one-left2 {
    display: flex;
    transform: rotate(-60deg);
    background-color: rgb(255, 255, 255);
    width: 1.50965797vw;
    height: 95vh;
    margin: auto;
    margin-left: -17vh;
    margin-top: -40vh;
}

.white-one2 {
    display: flex;
    transform: rotate(-60deg);
    background-color: rgb(255, 255, 255);
    width: 1.50965797vw;
    height: 95vh;
    margin: auto;
    margin-top: -40vh;
}

.white-one-right2 {
    display: flex;
    transform: rotate(-60deg);
    background-color: rgb(255, 255, 255);
    width: 1.50965797vw;
    height: 95vh;
    margin: auto;
    margin-right: -17vh;
    margin-top: -40vh;
}

.outer-square {
    display: flex;
    width: 71.428571vw;
    height: 71.428571vh;
    border: 1pt solid rgb(236, 236, 236);
    margin: auto;
}

.inner-square {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.small-square-container {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
}

.small-square-1 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #ebbb47;
}

.small-square-2 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #b38cb5;
}

.small-square-3 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #feec5d;
}

.small-square-4 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #d43d2d;
}

.small-square-5 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #80242c;
}

.small-square-6 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #f1b0cd;
}

.small-square-7 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #f27c21;
}

.small-square-8 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #f48da7;
}

.small-square-9 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #5cb95d;
}

.middle-square {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #d47e60;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.top-left-square {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #4f8ac9;
    position: absolute;
    top: 0;
    left: 0;
}

.inner-square {
    width: 42.857143vw;
    height: 42.857143vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bottom-right-square {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #f27c21;
    position: absolute;
    bottom: 0;
    right: 0;
}

.middle-square-2 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #c1682f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.middle-square-3 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #8a7463;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.smaller-square {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    flex-wrap: wrap;
}

.smaller-square-1 {
    display: flex;
    width: 7.1428571667vw;
    height: 7.1428571667vh;
    background-color: #9fd9d6;
    position: absolute;
    top: 46.4363%;
    left: 46.45%;
    transform: translate(-50%,-50%);
    z-index: 1;
    flex-wrap: wrap;
}

.smaller-square-2 {
    display: flex;
    width: 7.1428571667vw;
    height: 7.1428571667vh;
    background-color: #66c7c4;
    position: absolute;
    top: 46.4363%;
    right: 39.25%;
    transform: translate(-50%,-50%);
    z-index: 1;
    flex-wrap: wrap;
}

.smaller-square-3 {
    display: flex;
    width: 7.1428571667vw;
    height: 7.1428571667vh;
    background-color: #00b2ad;
    position: absolute;
    top: 53.55%;
    right: 39.25%;
    transform: translate(-50%,-50%);
    z-index: 1;
    flex-wrap: wrap;
}

.smaller-square-4 {
    display: flex;
    width: 7.1428571667vw;
    height: 7.1428571667vh;
    background-color: #00a69e;
    position: absolute;
    top: 53.55%;
    left: 46.45%;
    transform: translate(-50%,-50%);
    z-index: 1;
    flex-wrap: wrap;
}

.small-square1 {
    display: flex;
    width: 21.4285715vw;
    height: 21.4285715vh;
    background-color: #f59eaf;
}

.small-square2 {
    display: flex;
    width: 21.4285715vw;
    height: 21.4285715vh;
    background-color: #d2324c;
}

.small-square3 {
    display: flex;
    width: 21.4285715vw;
    height: 21.4285715vh;
    background-color: #f3869a;
}

.small-square4 {
    display: flex;
    width: 21.4285715vw;
    height: 21.4285715vh;
    background-color: #f27287;
}

.all-container {
    display: flex;
    border: .25pt solid #777;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.outer-square2 {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    position: relative;
    margin: auto;
}

.inner-square-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}

.inner-square1 {
    display: flex;
    width: 21.4285715vw;
    height: 42.857143vh;
    background-color: #e7eb93;
    margin: auto;
}

.inner-square2 {
    display: flex;
    width: 21.4285715vw;
    height: 42.857143vh;
    background-color: #d21c64;
    margin: auto;
}

.small-square-container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.small-square1-1 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #8ea3d3;
}

.small-square2-2 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #8a81bd;
}